.video { /* This is to make the video appear behind everything else */
  position: fixed;
  z-index: -1; /* Z-Index is -1000 just to be safe */
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content { /* This is for the content */
  position: fixed;
  z-index: -1; /* This can be set to any number greater than -1000. */
  bottom: 0;
  background-color: #000;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-family: myFirstFont;
}

#hero {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
  font-family: myFirstFont;
  font-size : clamp(2rem, 4vw, 4rem);
  text-align: center;
  min-width:200px;
  color: ffffff;
}

.navbar {
  font-family: myFirstFont;
  z-index: 4;
}

.myNavbar {
  background-color: #424242;
  position: relative;
  width: 100%;
}
.nav-item {
  font-family: myFirstFont;
  background-color: #424242;
}

.navbar-toggler{
  z-index: 4;
}

@font-face {
  font-family: myFirstFont;
  src: url(DIN\ Bold.ttf);
}

a {
  display: block;
  flex-direction: column;
  text-decoration: none;
}

.container position-absolute {
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  width: 100%;
}
#divContainer {
  height: 60%;
  width: 100%;
  margin: 50px auto;
  position: relative;
  border: 2px #000 solid;
  overflow: hidden;
}
.eCell {
  position: absolute;
 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}
.eCell img 
{   
  width: 100%; 
  height: 100%;                
}

#header h1{
  margin:0px;
}

body {
  z-index: -1;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #303030;
}
@keyframes fadeInAnimation {
  0% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
  
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
      filter: invert(00%);
      width: 3%; 
}

.carousel-indicators{
  filter:  invert(00%);

}

.carousel-inner {border-left:20px solid transparent; border-right:20px solid transparent;

}


.slide {
  background-color: #fff;
  max-width: 1800px;
  color: #000;
  position: absolute;
  top: 14%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  text-align: left;
  overflow: visible;
  background-color: #303030;
  
}

.FirstSlide {
  position: relative;
  display: block;
  float: left;
  clear: left;
  overflow: hidden;
  box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  
}

.slidebase {
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 14%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  text-align: left;
  overflow: visible;
}


img {
  width: 1300px;
  height: 865px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter:drop-shadow(5px 5px 5px #222); 
  border-radius: 10px;

}

p{
  color: white;
  font-size: large;
}

.listitem{
  font-size:2.5ch;
  margin-bottom: -.5%;
}

h4{
  padding-top: 5%;
  color: white;

}

h2{
  color: white;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter:drop-shadow(2px 2px 2px #222); 
}

.btn{
  background-color: white;
  margin-top: 3rem;
}

.pill{
  padding: 0.25rem .75rem;
  margin-bottom: .5rem;
  margin-top: .25rem;
  border-radius:  1rem;
  border: none;
  outline: none;
  pointer-events: none;
  color:  white;
  font-weight: bold;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter:drop-shadow(2px 2px 2px #222); 
}

  

  
  